h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

table.reportlist {
	margin: 2em auto 2em auto;
	border-collapse: collapse;
}

table.reportlist td, table.reportlist th {
	padding:3px;
}

table.reportlist thead {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;

}
table.reportlist tbody tr:first-child td {
	padding-top: 10px;
}



.reportdesc {
	font-weight: bold;
	border-top: 2px solid grey;
	width: 90%;
	margin-left: auto; 
    margin-right: auto;
}



table.reportdata {
	margin: 2em auto 2em auto;
	border-collapse: separate;
	border-spacing: 2px;
}

table.reportdata tr th, table.reportdata tr td {
	text-align: center;
	padding: 3px;
}

table.reportdata tr.red {
	background-color: #FF0000;
}

table.reportdata tr.orange {
	background-color: #FFA500;
}

table.reportdata tr.lime {
	background-color: #00FF00;
}

table.reportdata tr.yellow {
	background-color: #FFFF00;
}


.footer {
	font-size: 70%;
	text-align: center;
	border-top: 2px solid grey;
	width: 90%;
	margin: 2em auto 1em auto;
	padding-top: 10px;
}


.right {
	text-align:right;
}

.center {
	text-align:center;
}
