<?php

// ####################################################################
// ### configuration ##################################################
// ####################################################################

$dbhost="localhost";
$dbname="opendmarc";
$dbuser="opendmarc";
$dbpass="xxxxxxxxx";

?>
